<!-- technology-right -->
<div class="col-md-3 technology-right">
  <div class="blo-top1">

    <div class="tech-btm">
      
      <div class="aboutSidebar">
        <img src="/assets/images/perfilSobre.jpg" class="img-responsive">
        <br>
        <h4>Eduarda Scharnhorst</h4>
        <p>Em uma confusão de tintas de cabelo, linhas de código e quilometros rodados no fusca, criei um blog novamente para compartilhar um monte de coisa que eu aprendi sendo ex-blogueira.<p>
      </div>
      <br>
      <div class="search-1">
        <form action="/pesquisa" method="get">
          <input type="search" name="q" placeholder="Pesquisar" required="">
          <input type="submit" value=" ">
        </form>
      </div>
      
      <div class="insta">
        <h4>Instagram</h4>
        <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/291086" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
      </div>
      <br><br>
      <div class="facebook">
        <h4>Facebook</h4>
         <div class="fb-page" data-href="https://www.facebook.com/dudseofusca" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/dudseofusca" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/dudseofusca">Duds e o Fusca</a></blockquote></div>
      </div>
    </div>



  </div>


</div>
<div class="clearfix"></div>
<!-- technology-right -->
